.botones{
    width: 300px;
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    transition: 0.3s ease-in-out;
}

.botones:hover{
    cursor: pointer;
    background-color: white;
    border: solid 1px black;
    color: black;
    transition: 0.3s ease-in-out;
}

.boton-close{
    width: 300px;
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    cursor: no-drop;

}
